<section class="details-tab flexrow">
  
  <div class="detail-group">
    <ul class="details">
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Sex' }}">
          <a>{{ localize "FGG.details.Sex" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.sex" value="{{data.sex}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Age' }}">
          <a>{{ localize "FGG.details.Age" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.age" value="{{data.age}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Height' }}">
          <a>{{ localize "FGG.details.Height" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.height" value="{{data.height}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Weight' }}">
          <a>{{ localize "FGG.details.Weight" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.weight" value="{{data.weight}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Hair' }}">
          <a>{{ localize "FGG.details.Hair" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.hair" value="{{data.hair}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Eyes' }}">
          <a>{{ localize "FGG.details.Eyes" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.eyes" value="{{data.eyes}}" />
        </div>
      </li>
      </ul>
      </div>
      <div class='detail-group'>
      <ul class="details">
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Skin' }}">
          <a>{{ localize "FGG.details.Skin" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.skin" value="{{data.skin}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Appearance' }}">
          <a>{{ localize "FGG.details.Appearance" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.appearance" value="{{data.appearance}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Religion' }}">
          <a>{{ localize "FGG.details.Religion" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.religion" value="{{data.religion}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Homeland' }}">
          <a>{{ localize "FGG.details.Homeland" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.homeland" value="{{data.homeland}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Family' }}">
          <a>{{ localize "FGG.details.Family" }}</a>
        </h4>
        <div class="detail-value">
          <input name="data.family" value="{{data.family}}" />
        </div>
      </li>
      <li class="detail">
        <h4 class="detail-name box-title" title="{{ localize 'FGG.details.Size' }}">
          <a>{{ localize "FGG.details.Size" }}</a>
        </h4>
        <div class="detail-value">{{ localize sizeCategory.label }}</div>
      </li>
    </ul>
  </div>
</section>